a#home {
	color: #777;
}

a#home:hover {
	color: #333;
}

a.anchor {
	display: block;
	position: relative;
	top: -2em;
	visibility: hidden;
}

a#first-anchor {
	top: -3.5em;
}




.navbar * a {
	font-size: 1.1em;
	font-weight: bold !important;
}

.navbar-nav li {
	margin-right: 30px;
}

.navbar-nav.navbar-right li {
	margin-right: 10px;
}





.dropdown-menu a {
	margin-top: .5em;
}

.dropdown-menu li:last-child a {
	margin-bottom: .5em;
}

.dropdown-menu span.menu-item {
	margin-left: 2em;
}




main li {
	margin-bottom: 1em;
}





.content-item {
	font-weight: bold;
}

main li.post-item {
	margin-bottom: .5em;
}

main li.post-item a {
	color: black !important;
}

main li.post-item a:hover {
	color: #0FA0CE !important;
}
