RewriteEngine On
Options -Multiviews

RewriteRule ^posts/css/.*$ - [L]
RewriteRule ^posts/js/.*$ - [L]
RewriteRule ^posts/img/.*$ - [L]
RewriteRule ^posts/img/thumbs/.*$ - [L]

RewriteRule ^posts/assets/index.php - [L]
RewriteRule ^posts/index.php - [L]

RewriteRule ^posts/assets/(.+[^/])$ posts/assets/?a=$1 [L]
RewriteRule ^posts/(.+[^/])$ posts/?p=$1 [L]

# prevent access to __partials, but allow access to css subdirectory
RedirectMatch 403 "/__partials/.*html$"

# Custom Error Responses
ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php
ErrorDocument 500 /errors/500.php
