RewriteEngine On
Options -Multiviews

# prevent access to __partials, but allow access to css subdirectory
RedirectMatch 403 "/__partials/.*html$"

# Custom Error Responses
ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php
ErrorDocument 500 /errors/500.php
