body {
	padding-top: 80px;
	width: 750px;
	margin: auto;
	margin-bottom: 100px;
}

a#home {
	font-size: 1.33em;
	font-weight: bold;
}

.dropdown-menu a, main a, p a, .articles a {
	font-weight: bold;
	color: #0FA0CE !important;
	text-decoration: none;
}

.dropdown-menu a:hover, main a:hover, p a:hover, .articles a:hover {
	color: black !important;
	text-decoration: none;
}

.navbar {
	font-size: 1.2em;
	padding-top: 5px;
	padding-bottom: 5px;
	background: white;
	box-shadow: 0 20px 10px -21px;
	-webkit-box-shadow: 0 20px 10px -21px;
	-moz-box-shadow: 0 20px 10px -21px;
}

.navbar-left {
	margin-left: 20px;
}

.navbar-centered {
	margin-left: 150px;
}

.navbar-right {
	margin-right: 30px;
}




main, article {
	font-family: "Garamond", Georgia, Serif;
	margin-bottom: 100px;
	font-size: 1.5em;
}

main h2 {
	font-weight: bold;
	font-size: 2.25em;
	margin-top: 1em;
	margin-bottom: .33em;
}


